<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
    <h1><%= message %></h1> 
    <a href = "/allcustomers" class="btn btn-primary" >All Customers</a>
    <a href = "/createData" class="btn btn-success" >Create Customers</a>
    <a href = "/deleteData" class="btn btn-danger" >Delete Customers</a>
    <a href= "/transactionHistory" class="btn btn-secondary" >Show Transactions</a> 
    </div>
</body>
</html>